.container {
    width: 90%;
}
h1.page-title {
    margin-bottom: 40px;
}
ul.features {
    list-style-type: none;
    margin-left: 0;
}
ul.features li {
    line-height: 27px;
    font-size: 16px; 
}
.voteWrapper th.vote {
    width: 60px;
}
.voteWrapper button.submitVote {
    width: 100%;
}
.voteIncremented > td {
    background-color: #FFF28E !important;
}
.text-center {
    text-align: center !important;
}
.startQuiz {
    width: 100%;
}
.enableAnswering, .next {
    width: 100%;
}
.answerButton {
    width: 48%;
    height: 400px;
    float: left;
    margin: 1%;
}
.answerButton.A {
    background-color: red;
}
.answerButton.B {
    background-color: blue;
}
.answerButton.C {
    background-color: orange;
}
.answerButton.D {
    background-color: green;
}
.buzzerWrapper {
}
.buzzerWrapper.disabled {
    opacity: 0.3;
}
.displayAnswerWrapper {
    text-align: center;
}
.displayAnswer {
    width: 400px;
}
.duplicateUsername {
    color: red;
    font-weight: bold;
}
