.voteWrapper th.vote {
    width: 60px;
}
.voteWrapper button.submitVote {
    width: 72px;
}
.voteIncremented > td {
    background-color: #FFF28E !important;
}
.text-center {
    text-align: center !important;
}
